
.display {

    max-width: 120rem;
    width: 80%;
    margin: 3rem auto;
    
    &__video-box {
        
    }

    &__video {

    }
}


.program {
    &__table {
        max-width: 120rem;
        width: 90%;
        margin: 3rem auto;
        background-color: var(--color-grey-light-3);

        tbody {
            display: flex;
        }

        tr {
            display: grid;

        }
    }

    &__week {
        // TEST
        border: 1px solid blue;
        width: calc(100% / 7);
    }

    &__time-list {

    }

    &__time-item {
        padding: 3rem;
    }

    &__thumnail {
        border: 1px solid red;
        width: 100%;
        background-size: cover;

        & > img {
            width: 100%;
            display: block;
        }
    }
}