extends layout/main.pug

block head 

  title video browing app
  link(rel="stylesheet", href="/css/style.css")

block content 

  include mixins/schedule-table.pug
  .display 
    .display__video-box#video-box
      video.display__video#video(autobuffer autoplay controls loop muted width="100%")
        source#source

  .program 
    table.program__table
      tbody
        +timeList(times)
        +scheduleTable(week)

block script 

