extends layout/admin

block head 

  title login

block content 

  h1 login
  form(action="/login" method="POST")
    if errorMessage
      p= errorMessage
    input(type="text" name="email" placeholder="email")
    input(type="password" name="password" placeholder="password")
    button(type="submit") submit

block script 
  script(src="https://www.youtube.com/iframe_api")
  script(src="js/bundle.js")

