:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --thumnail-width: 10rem;
  --thumnail-height: 8rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

ul {
  list-style: none; }

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
  min-height: 100vh; }

/****************************
 schedule/index 
****************************/
.section-selected-schedule {
  padding: 5rem 0; }

.section-scheduel-list {
  padding: 0 1.5rem 2rem 1.5rem; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2em 1rem 2.5rem;
  background-color: var(--color-grey-dark-1);
  color: var(--color-grey-light-1); }
  .nav__list {
    display: flex;
    border: 1px solid var(--color-grey-light-4);
    border-radius: 2px; }
  .nav__item {
    display: block;
    width: 10rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all .2s; }
    .nav__item.selected {
      color: var(--color-grey-dark-1);
      background-color: var(--color-grey-light-3); }
    .nav__item:hover {
      color: var(--color-grey-dark-1);
      background-color: var(--color-grey-light-3); }

.page-top {
  height: 7rem;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  border-bottom: 1px solid var(--color-grey-dark-1); }
  .page-top__icon {
    height: calc(7rem * .6);
    width: calc(7rem * .6);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    background-color: var(--color-grey-dark-2);
    color: #fff; }
  .page-top__title {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    font-weight: normal;
    font-size: 3rem; }

.btn {
  height: 3.5rem;
  width: 10rem;
  border: none;
  border-radius: 2px;
  border: 1px solid var(--color-grey-dark-3);
  outline: none;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    transform: translateY(-10%);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
  .btn:active {
    transform: translateY(0);
    box-shadow: none; }

.input {
  font-size: inherit;
  letter-spacing: .1rem;
  height: 3rem;
  width: 30rem;
  margin: 1rem 0;
  padding: 2.5rem;
  border: 1px solid var(--color-grey-dark-3); }

.error {
  color: #df0808; }

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login__box {
    min-width: 50rem;
    height: 40rem;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-grey-dark-3); }
  .login__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%; }
  .login__error {
    margin-bottom: 1rem; }
  .login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: calc(100% - 20%);
    padding: 1rem 0; }
  .login__input {
    width: 80%; }
  .login__btn {
    height: 5rem;
    width: 50%;
    margin-top: 2rem; }

.selected-schedule {
  border: 1px solid var(--color-grey-light-4);
  padding: 2rem 4rem;
  max-width: 50rem;
  margin: 0 auto;
  position: relative; }
  .selected-schedule__title {
    font-size: 2rem;
    font-weight: lighter;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-grey-dark-1); }
  .selected-schedule__change-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-grey-light-4);
    transition: all .2x;
    cursor: pointer; }
    .selected-schedule__change-icon:hover {
      background-color: var(--color-grey-light-4);
      color: var(--color-grey-light-1); }
  .selected-schedule__box {
    margin-bottom: 2rem;
    padding: 0 1rem; }
  .selected-schedule__item {
    display: grid;
    grid-template-columns: 10rem auto; }
    .selected-schedule__item:not(:last-child) {
      margin-bottom: 1rem; }
  .selected-schedule__item-label {
    background-color: var(--color-grey-dark-2);
    color: var(--color-grey-light-1);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .selected-schedule__item-content {
    text-align: center; }

.schedule-list {
  position: relative; }
  .schedule-list__table {
    width: 100%;
    text-align: center; }
  .schedule-list__head {
    background-color: var(--color-grey-dark-2);
    color: var(--color-grey-light-1); }
    .schedule-list__head td {
      padding: 1.5rem 1rem; }
      .schedule-list__head td:nth-of-type(2) {
        width: 20%; }
  .schedule-list__list {
    background-color: var(--color-grey-light-1); }
    .schedule-list__list td a {
      padding: 1rem;
      display: block;
      width: 100%;
      height: 100%; }
  .schedule-list__create-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 20em;
    height: 5rem; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal[data-status="open"] {
    visibility: visible; }
    .modal[data-status="open"] .modal__container {
      visibility: visible;
      opacity: 1;
      transform: scale(1); }
  .modal[data-status="close"] {
    visibility: hidden; }
    .modal[data-status="close"] .modal__container {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.7); }
  .modal__background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0; }
    .modal__background--dark {
      background-color: rgba(0, 0, 0, 0.8); }
  .modal__container {
    background-color: #fff;
    transition: all .3s;
    width: 80%;
    max-width: 70rem;
    padding: 3rem 5rem;
    border-radius: 5px;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
