:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --thumnail-width: 10rem;
  --thumnail-height: 8rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

ul {
  list-style: none; }

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

.display {
  max-width: 120rem;
  width: 80%;
  margin: 3rem auto; }

.program__table {
  max-width: 120rem;
  width: 90%;
  margin: 3rem auto;
  background-color: var(--color-grey-light-3); }
  .program__table tbody {
    display: flex; }
  .program__table tr {
    display: grid; }

.program__week {
  border: 1px solid blue;
  width: calc(100% / 7); }

.program__time-item {
  padding: 3rem; }

.program__thumnail {
  border: 1px solid red;
  width: 100%;
  background-size: cover; }
  .program__thumnail > img {
    width: 100%;
    display: block; }

.video-option__list-item {
  border: 1px solid red; }

.button {
  display: block;
  padding: 1rem 2rem;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 1.6rem;
  margin: 0 auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal[data-status="open"] {
    visibility: visible; }
    .modal[data-status="open"] .modal__container {
      visibility: visible;
      opacity: 1;
      transform: scale(1); }
  .modal[data-status="close"] {
    visibility: hidden; }
    .modal[data-status="close"] .modal__container {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.7); }
  .modal__background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0; }
    .modal__background--dark {
      background-color: rgba(0, 0, 0, 0.8); }
  .modal__container {
    background-color: #fff;
    transition: all .3s;
    width: 80%;
    max-width: 70rem;
    padding: 3rem 5rem;
    border-radius: 5px;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
