extends ../../layout/main.pug

block head 
  title videos

block content 
  include ../../mixins/videos

  h1 create new video 

  form(action="/admin/videos" method="POST")
    .form-group
      h2 video type
      input(type="radio" name="type" value="youtube" id="youtube-type" checked=(video === undefined ? '' : video.type==='youtube'))
      label(for="youtube-type") youtube
      input(type="radio" name="type" value="googledrive" id="google-type" checked=(video === undefined ? '' : video.type==='googledrive'))
      label(for="google-type") googel drive

    .form-group
      label(for="videoId") video id
      input(type="text" name="videoId" id="videoId" value=(video === undefined ? '' : video.videoId))

    .form-group
      lable(for="path") video path
      input(type="text" name="path" id="path" value=(video === undefined ? '' : video === undefined ? '' : video.path))

    .form-group
      label(for="title") video title
      input(type="text" name="title" id="title" value=(video === undefined ? '' : video.title))

    .form-group
      label(for="description") video description
      textarea(name="description" id="description" cols="30" rows="10")= video === undefined ? '' : video.description

    .form-group
      button(type="submit") submit

  if errors
    h1 errors
    ul
      each error in errors
        li= error.message
    

block script 

