extends ../../layout/main.pug

block head 
  title videos

block content 
  include ../../mixins/videos

  //- div
  //-   h1 input values
  //-   each val, key in formValues
  //-     p #{key}: #{val}

  //- TODO: 新規作成formも更新のformに関しても同じformを使用したい。現状はvideoの有無に応じて使い分けをしているが苦肉の策
  //- TODO: redirectして飛んできたとに元の req.bodyの値を保持して表示させる

  h1 create new video 
  if video 
    +formEdit(video)
  else
    +formNew()
    

block script 

