extends ../../layout/main.pug

block head 
  title video 

block content 
  include ../../mixins/videos 
  
  +video(video)
  a(href=`/admin/videos/${video._id}/edit`) edit
  br
  a(href='/admin/videos') back to list

block script 

