extends ../../layout/admin

block head 
  title video 

block content 
  include ../../mixins/videos 
  
  +video(video)
  a(href=`/admin/videos/${video._id}/edit`) edit
  br
  a(href='/admin/videos') back to list

  form(action=`/admin/videos/${video._id}?_method=DELETE` method="POST")
    button(type="submit") delete

block script 

