.modal(id="create-schedule-modal" data-status="close")
  .modal__background.close-modal(id="" data-target="#create-schedule-modal")
  .modal__container
    .modal__header header
    .modal__body body
      