.modal.create-schedule-modal(id="create-schedule-modal" data-status="close")
  .modal__background.modal__background--dark.close-modal(id="" data-target="#create-schedule-modal")
  .modal__container
    .modal__header 
      h2.create-schedule-modal__header create new schedule
    .modal__body
      form.create-schedule-modal__form(action="/admin/schedules" method="POST")
        if errorMessage
          p= errorMessage
        label.create-schedule-modal__label title
        input.input.create-schedule-modal__input(type="text" name="title" placeholder="title")
        lable.create-schedule-modal__label duration
        input.input.create-schedule-modal__input(type="number" name="duration" max="1440" min="1" placeholder="program duration")
        button.btn.create-schedule-modal__btn(type="submit") create new schedule
      