
.modal(id="video-option-modal" data-status="close")
  .modal__background.close-modal(id="" data-target="#video-option-modal")
  .modal__container
    .modal__header header
    .modal__body body
      .video-option
        #selected-video-box
        ul.video-option__list#video-option-list
          li.video-option__list-item
            p There is no video to show

//- <div class="modal" data-status="close" id="detail-modal" data-id="">
//-     <div class="modal__background close-modal" data-target="#detail-modal" id="character-detail-background"></div>
//-     <div class="modal__container modal__container--detail">
//-         <div class="modal__header"></div>
//-         <div class="modal__body">
//-         </div>
//-     </div>
//- </div>