
.modal(id="video-option-modal" data-status="close")
  .modal__background.close-modal(id="" data-target="#video-option-modal")
  .modal__container
    .modal__header header
    .modal__body body
      .video-option
        #selected-video-box
        ul.video-option__list#video-option-list
          li.video-option__list-item
            p There is no video to show