
//- create tr element to show time
mixin timeList(times)
  tr.program__time-list
    each time in times
      td.program__time-item #{time}

//- create tr elements for thumnails
mixin scheduleTable(week, attrs)
  each dayObj in week
    tr.program__week(class=dayObj.day)
      each time in dayObj.times
        td.program__thumnail(data-time-id=time.id data-selected-video=time.videoId)&attributes(attrs)
          img
  