.create-schedule-modal {

    &__header {
        margin-bottom: 3rem;
        border-bottom: 1.5px solid var(--color-grey-dark-3);
        padding: 1rem 1.5rem;
        color: var(--color-grey-dark-2);
        position: relative;
        font-weight: normal;
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__label {
        flex: 0 0 20%;
    }

    &__input {
        flex: 0 0 80%;
    }

    &__btn {
        margin-top: 3rem;
        width: 15rem;
    }
}