.create-schedule-modal {

    &__header {
        @include adminModalHeader;
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__label {
        flex: 0 0 20%;
    }

    &__input {
        flex: 0 0 80%;
    }

    &__btn {
        margin-top: 3rem;
        width: 15rem;
    }
}