.program {

    $columns: [full-start ]minmax(8rem, 2fr) [center-start] repeat(7, [day-start] minmax(min-content, 14rem) [day-end]) [center-end] minmax(1rem, 1fr) [full-end];

    margin-top: 5rem;

    &__week {
        height: 7rem;
        display: grid;
        grid-template-columns: $columns;
        
        // arrange monday ~ sunday to right grid
        @for $i from 1 through 8 {
            & > li:nth-of-type(#{$i}) {
                grid-column: day-start #{$i} / day-end #{$i};
            }
        } 

        @include bgColorDark;
        border-radius: 2px 2px 0 0 ;

        & > li {
            @include flexCenter;
        }
    }

    &__scroll {
        display: grid;
        grid-template-columns: $columns;
        height: 80vh;
        overflow-y: scroll;
        border: 1px solid var(--color-grey-light-4);
        padding: 2rem 0;
        border-radius: 0 0 2px 2px;
    }

    &__time {
        grid-column: full-start / center-start;
        justify-content: center;
        align-items: center;

        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);

        & > li {
            @include flexCenter;
            color: var(--color-grey-dark-2);
            font-weight: bold;
        }
    }

    &__schedule {
        grid-column: center-start / center-end;

        display: grid;
        grid-template-columns: repeat(7, [day] minmax(min-content, 14rem) [day]);

        background-color: #fff;
    }
    
    &__item {
        margin: .5rem;
        height: 8vw;
        border: 1px solid var(--color-grey-light-2);
        box-shadow: 0 1px 1px rgba(#000, .1);
        transition: all .2s;
        cursor: pointer;

        &:hover {
            box-shadow: 0 3px 3px rgba(#000, .1);
            transform: translateY(-3%) scale(1.1);
        }
    }

    &__button-box {
        height: 15rem; 
        @include flexCenter;

        button {
            height: 6rem;
            width: 25rem;
        }
    }
}