doctype html
html
  head
    link(rel="stylesheet", href="/css/admin.css")
    block head
  body
    nav.nav
      h1.nav__title admin
      ul.nav__list
        li
          a.nav__item.selected(href="/admin/schedules") schedules
        li 
          a.nav__item(href="/admin/videos") videos
        li
          a.nav__item(href="/admin/users") users 

    block content
    block foot
    block script
    

