.container {
    // TEST
    // border: 1px solid black;

    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
    min-height: 100vh;
}

/****************************
 schedule/index 
****************************/

.section-selected-schedule {
    padding: 5rem 0;
}
.section-scheduel-list { 
    padding: 0 1.5rem 2rem 1.5rem;
    
}